extends layout

block content
  div(class='container')
    h1='Photo Gallery'
    div(class='photo-gallery')
  script(src='javascripts/util.js')
  script(src='javascripts/lightbox.js')
  script(src='javascripts/photogallery.js')
  script(src='javascripts/main.js')
