body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.photo-gallery a {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  transition: background-color 1s;
  background-color: white;
}

.photo-gallery img {
  border-radius: 0.5rem;
}

.photo-gallery a:hover {
  background-color: grey;
}

.lightbox-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 100;
  position: absolute;
  display: none;
}
